{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src/**/*.ts"],
  "exclude": ["**/*.spec.ts", "**/*.test.ts", "src/test/steps/**/*.ts", "src/test/features/**/*.ts"],
  "reporter": ["html", "text-summary"],
  "report-dir": "./coverage",
  "check-coverage": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80
}
